{% extends 'base.html.twig' %}

{% block body %}

HOMEPAGE
{#
        <a href="{{ path('mostrapersona') }}">
          <img src="{{ asset('assets/images/icon-persone.svg') }}" 
	       alt="icon-persone" height="96" width="96"></a>

        <a href="{{ path('modificapersona') }}">
          <img src="{{ asset('assets/images/icon-nuova-persona.svg') }}" 
	       alt="icon-nuova-persona" height="96" width="96"></a>
#}

	
{% endblock %}
